<?xml version="1.0" encoding="UTF-8"?>
    <web-app version="3.0" 
         xmlns="http://java.sun.com/xml/ns/javaee" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
                             http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
        
        <display-name>Spring НТТР Invoker Sample</display-name>
        
        <context-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/root-context.xml</param-value>
        </context-param>
        
        <listener>
            <listener-class>
                org.springframework.web.context.ContextLoaderListener
            </listener-class>
        </listener>
        
        <!--заменен класс DispatherServlet на этот -->
        <servlet>
            <servlet-name>userExporter</servlet-name>
            <servlet-class>
            org.springframework.web.context.support.HttpRequestHandlerServlet
            </servlet-class>
        </servlet>
        
        <servlet-mapping>
            <servlet-name>userExporter</servlet-name>
            <url-pattern>/dao/UserService</url-pattern>
        </servlet-mapping>
        
        
        
    </web-app>
